.backgroundSignUp{
    background-image: url("../../images/contact.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}



.formSignUp{
    display: flex;
    padding: 10px;
    
}

.formGroupSignUp{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;

  
    
}
.lblSignUp{
    width: 40%;
    text-align: left;
    color: aliceblue !important;
}


.form-control{
    justify-content: right;
}

.error{
    color: red;
}
